@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');
* {
	font-family: 'Ubuntu', sans-serif;
}

.bold {
	font-weight: bold;
}

.regular {
	font-weight: normal;
}

.light {
	font-weight: lighter;
}

.text-capitalize {
	text-transform: capitalize;
}

a {
	text-decoration: none;
}

.centered-to-page {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.switch {
	position: relative;
	right: 0;
	top: 0;
}

.truncate {
	width: 250px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

body {
	background: hsla(148, 89%, 78%, 1);

	background: linear-gradient(90deg, hsla(148, 89%, 78%, 1) 0%, hsla(210, 81%, 22%, 1) 100%);

	background: -moz-linear-gradient(90deg, hsla(148, 89%, 78%, 1) 0%, hsla(210, 81%, 22%, 1) 100%);

	background: -webkit-linear-gradient(90deg, hsla(148, 89%, 78%, 1) 0%, hsla(210, 81%, 22%, 1) 100%);

	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#95F9C3", endColorstr="#0B3866", GradientType=1);
}

.messages {
	display: flex;
	flex-direction: column-reverse;
}

.form {
	display: flex;
	flex-direction: column;
	width: 100%;
	position: fixed;
	bottom: 0;
	margin-bottom: 6vh;
	/* position: relative; */
}

.input {
	/* position: relative; */
	text-indent: 40px;
	width: 50%;
	margin-left: 1%;
	padding: 20;
	height: 50px;
	border-radius: 25px;
	outline: none;
	border: none;
}

.message-box {
	height: 90vh;
	width: calc(80vw - 420px);
	margin-left: 20px;
	margin-bottom: 10px;
	overflow: auto;
	position: relative;
	scrollbar-width: none;
}
.message-box::-webkit-scrollbar {
	display: none;
}
