@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');
* {
	font-family: 'Ubuntu', sans-serif;
}

.bold {
	font-weight: bold;
}

.regular {
	font-weight: normal;
}

.light {
	font-weight: lighter;
}

.text-capitalize {
	text-transform: capitalize;
}

a {
	text-decoration: none;
}

.centered-to-page {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.switch {
	position: relative;
	right: 0;
	top: 0;
}

.truncate {
	width: 250px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

body {
	background: hsla(148, 89%, 78%, 1);

	background: linear-gradient(90deg, hsla(148, 89%, 78%, 1) 0%, hsla(210, 81%, 22%, 1) 100%);

	background: -moz-linear-gradient(90deg, hsla(148, 89%, 78%, 1) 0%, hsla(210, 81%, 22%, 1) 100%);

	background: -webkit-linear-gradient(90deg, hsla(148, 89%, 78%, 1) 0%, hsla(210, 81%, 22%, 1) 100%);

	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#95F9C3", endColorstr="#0B3866", GradientType=1);
}

.messages {
	display: flex;
	flex-direction: column-reverse;
}

.form {
	display: flex;
	/* width: 100%; */
	width: calc(80vw - (80vw/3.3));
	position: fixed;
	bottom: 0;
	height: 70px;
	/* justify-content: space-between; */
	margin-bottom: 5vh;
	/* position: relative; */
}

.input {
	/* position: relative; */
	text-indent: 40px;
	width: 90%;
	margin-left: 3%;
	margin-top: 10px;
	padding: 20;
	height: 50px;
	border-radius: 25px;
	outline: none;
	border: none;
}

.message-box {
	height: 90vh;
	width: calc(80vw - (80vw/3.3));
	overflow: auto;
	position: relative;
	scrollbar-width: none;
	border: 2px solid #33cccc;
}
.message-box::-webkit-scrollbar {
	display: none;
}

.contact__list {
	scrollbar-width: none;
}

.contact__list::-webkit-scrollbar {
	display: none;
}

.loader,
.loader:before,
.loader:after {
	border-radius: 50%;
	width: 2.5em;
	height: 2.5em;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation: load7 1.8s infinite ease-in-out;
	animation: load7 1.8s infinite ease-in-out;
}
.loader {
	color: #33cccc;
	font-size: 10px;
	margin: 80px auto;
	position: relative;
	text-indent: -9999em;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}
.loader:before,
.loader:after {
	content: '';
	position: absolute;
	top: 0;
}
.loader:before {
	left: -3.5em;
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}
.loader:after {
	left: 3.5em;
}
@-webkit-keyframes load7 {
	0%,
	80%,
	100% {
		box-shadow: 0 2.5em 0 -1.3em;
	}
	40% {
		box-shadow: 0 2.5em 0 0;
	}
}
@keyframes load7 {
	0%,
	80%,
	100% {
		box-shadow: 0 2.5em 0 -1.3em;
	}
	40% {
		box-shadow: 0 2.5em 0 0;
	}
}
